

@font-face { font-family: 'NotoSansCJKkr';
}


body,p,div{
  margin:0;
  padding:0;
  font-size: 16px
}
h1{
  font-family: serif;
  font-size: 5.3em;
  font-weight: bold;
  line-height: 1.3em;
  letter-spacing: -2px;
  color:#b5d5f1;
  margin-left: 50px;
  margin-top: 100px;
  text-shadow:4px 4px 10px #303030;
  -webkit-text-shadow:4px 4px 10px #303030;
  -moz-text-shadow:4px 4px 10px #303030;
}
.bg_gradient {
  position:absolute;
  width:100%;
  height:100%;
  background-image: linear-gradient(#7559b0, #334893);
  /* background-image: url( "images/splash/bg1.png") ; */
  /* background-repeat: repeat-x; */
}
