

@font-face { font-family: 'NotoSansCJKkr';
}
html,body{
  height:100%;
  width:100%;
  min-height: 100%;
  min-width:100%;
  margin: 0;
  padding: 0;
}

body,p,div{
  margin:0;
  padding:0;
  font-size: 16px
  font-family: serif,"NotoSansCJKkr";

}
h1{
  font-family: "NotoSansCJKkr";
  font-size: 5.3em;
  font-weight: 200;
  line-height: 1.4em;
  letter-spacing: -2px;
  color:#b5d5f1;
  margin-left: 50px;
  margin-top: 100px;
  text-shadow:4px 4px 10px #303030;
  -webkit-text-shadow:4px 4px 10px #303030;
  -moz-text-shadow:4px 4px 10px #303030;
}
.bg_gradient {
  min-height:100%;
  background-image: linear-gradient(#7559b0, #334893);
  /* background-image: url( "images/splash/bg1.png") ; */
  /* background-repeat: repeat-x; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}
